/* Coffee theme Bootstrap colors */
$primary: #503e32;
$secondary: #A77F5B;
$success: #317327;
$info: #C8A68C;
$warning: #916001;
$danger: #d21818;
$light: #2B241F;
$dark: #8D9B86FF;

// Import all of Bootstrap’s CSS
@import "bootstrap/scss/bootstrap";

$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";
@import "bootstrap-icons/font/bootstrap-icons";

:root {
  /* Light theme coffee colors */
  --coffee-bg: #F8F5F2;
  --coffee-surface: #a9b6a3;
  --coffee-surface-dark: #8D9B86FF;
  --coffee-text: #2B241F;
  --coffee-accent-light: #fadec9;
  --coffee-accent: #A77F5B;
  --coffee-accent-dark: #6B4F3A;
}


// ändra färger till mörkt tema vid <html lang="sv-SE" data-bs-theme="dark">
// data-bs-theme="light" använder :root färger
[data-bs-theme="dark"] {
  /* Dark theme */
  --coffee-bg: #2B241F;
  --coffee-surface: #2e3b2c;
  --coffee-surface-dark: #8D9B86FF;
  --coffee-text: #F8F5F2;
  --coffee-accent-light: #a28f80;
  --coffee-accent: #6c5a4c;
  --coffee-accent-dark: #463427;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--coffee-bg);
  color: var(--coffee-text);
}

 header.header-logo {
  color: var(--coffee-accent-dark);
   background-color: var(--coffee-text);
}

nav.navbar {
  color: var(--coffee-accent) !important;
  background-color: var(--coffee-surface) !important;
  top: 60px;
}

nav a.navbar-brand {
  color: var(--coffee-text) !important;
}

nav a.nav-link {
  color: var(--coffee-accent-light) !important;
  margin: -15px 0 !important;
  padding: 16px 40px !important;
  border-radius: 0 !important;
  &:hover {
    background-color: var(--coffee-accent-dark) !important;
  }
}

nav a.nav-link.active {
  color: var(--coffee-accent-dark) !important;
  background-color: var(--coffee-surface-dark) !important;
}

nav li.nav-item {
  margin: 0;
}

#navbar-products {
  top: 115px;
  border-top: 1px solid var(--coffee-accent-light);
}

a {
  color: var(--coffee-accent);
  &:hover { color: var(--coffee-accent-dark) };
}

section {
  background-color: var(--coffee-surface);
  border-radius: 8px;
  padding: 1.5rem;
}

footer a.nav-link {
  color: var(--coffee-accent) !important;
  &:hover { color: var(--coffee-accent-dark) !important; };
}

footer .text-body-secondary {
  color: var(--coffee-text) !important;
}

.accordion-item {
  background-color: var(--coffee-surface) !important;
  border: none;
}

.accordion-button {
  background-color: var(--coffee-surface) !important;
  color: var(--coffee-text) !important;
  box-shadow: none !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.accordion-button:not(.collapsed) {
  background-color: var(--coffee-surface-dark) !important;
  color: var(--coffee-text) !important;
  box-shadow: none !important;
}

.accordion-body {
  background-color: var(--coffee-accent-light) !important;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.card {
  background-color: var(--coffee-accent-dark) !important;
  color: var(--coffee-accent-light) !important;
}

.card-img-top {
  object-fit: cover;
  max-height: 350px;
}

.card-body {
  padding: 0.8rem !important;
}

.card-footer {
  padding: 0.6rem 0.8rem !important;
}

.scrollspy-container {
  position: relative;
  top: 35px;
  min-height: 100vh;
}

h4 {
  scroll-margin-top: 500px;
}